@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: rgb(12, 12, 21);
  font-family: 'General Sans', sans-serif;
}

button:hover {
  cursor: pointer;
}

@keyframes moveWave {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.glass-filter {
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(51, 51, 51, 1);
  box-shadow: 0 9px 21px rgba(24, 90, 123, 0.3);
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 10px;
  transition: all 0.4s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.product-card {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 1s ease;
}

.product-title {
  line-height: 1.2;
  color: white;
  margin: 0;
  max-width: 80%;
  padding-top: 9px;
  max-height: 33%;
  overflow: hidden;
}

.carousel-grid {
  display: flex;
  flex-direction: row;
  max-height: 70vh;
  max-width: 50%;
  overflow: hidden; /* Prevent any overflow */
  border-radius: 1rem;
  justify-content: space-between;
}

.carousel-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 250px; /* Adjust as necessary */
  overflow-y: hidden;
  padding: 6px;
}


.about-bg {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 21px;
}

.wave {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.wave-1 {
  animation: moveWave 20s linear infinite;
}

.wave-2 {
  animation: moveWave 25s linear infinite alternate;
}

.wave-3 {
  animation: moveWave 30s linear infinite;
}

.wave-4 {
  animation: moveWave 35s linear infinite alternate;
}

.wave-5 {
  animation: moveWave 40s linear infinite;
}

.wave-6 {
  animation: moveWave 45s linear infinite alternate;
}

.wave-7 {
  animation: moveWave 50s linear infinite;
}

.wave-8 {
  animation: moveWave 55s linear infinite alternate;
}

.wave-9 {
  animation: moveWave 60s linear infinite;
}

.glass-container {
  background: rgba(51, 51, 51, 0.1); /* Glass effect */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 30px;
  border: 1px solid rgba(51, 51, 51, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  /* max-width: 600px; */
  z-index: 1;
}

.glass-btn {
  background: rgba(0, 0, 0, 0.3); /* Glass effect */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(51, 51, 51, 1);
  box-shadow: 0 9px 21px rgba(24, 90, 123, 0.3);
  position: relative;
  /* max-width: 600px; */
  z-index: 1;
}

.nav-button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.info-section {
  padding: 2rem;
  margin-top: 4rem;
  margin-inline: 2rem;
  background: rgba(0, 0, 0, 0.01); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-section img {
  object-fit: cover; 
  padding-top: 3rem;
}

.img-bg {
  background-image: url('/assets/code.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  border-radius: 15px;
  border: 1px solid rgba(51, 51, 51, 0.4);

}
.img-2 {
  background-image: url('assets/profile.jpeg');
  height: 300px;
  width: 87%;
  background-size: cover;
  background-position: center;
}
.img-3 {
  background-image: url('assets/luke-mckeown-nlyWZtWTzCo-unsplash.jpg');
}

@keyframes scroll {
  0% { transform: translateX(70%); }  /* Start from the right (outside the container) */
  100% { transform: translateX(-100%); }  /* Move fully to the left (outside the container) */
}

.btn {
  background: none;
  width: 87%;
  padding-inline: 0;
  padding-block: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: medium;
}



